@import "components/mixins";
@import "components/color";
@import "components/theme";
@import "components/notifications";
@import "components/table";
@import "components/card";
@import "components/button";

html {
    overflow: hidden;
}

html, body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-color: $background-color;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    .input {
        width: 100%;
        height: $input-height;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        @include e(icon) {
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(0, -50%);
            content: ">";
            font-size: 2em;
            color: lighten($color, 50%);
        }

        input {
            width: 100%;
            height: 100%;
            border: 0;
            margin: 0;
            padding: 0 $padding;
            padding-left: ($padding + (20px * 2));
            font-size: 20px;
            color: lighten($color, 50%);
            background-color: $bar-background-color;
            border-bottom: 5px solid $bar-border-color;

            &:active, &:focus {
                outline: none;
            }
        }
    }

    .output {
        width: 100%;
        height: calc(100vh - #{$input-height});
        overflow-y: auto;

        margin-top: $input-height;

        padding: ($padding * 1.5) $padding;
    }

    .tools {
        border-top: 1px solid color('grey', 300);
        background-color: rgba(color('grey', 300), .6);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: ($padding * 1.8);
        padding: (($padding * 1.8) / 4.5);
        z-index: 99999;

        button {
            @extend button.button;
        }


        .group {
            display: inline-block;
            margin-left: 5px;

            &.right {
                float: right;
            }

            button {
                margin-left: -3px;
                margin-right: -3px;

                &:first-child {
                    border-radius: 3px 0 0 3px;
                }

                &:last-child {
                    border-radius: 0 3px 3px 0;
                }
            }
        }
    }
}

.recording {
    color: color('red');
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

pre {
    white-space: pre-wrap;
}

.right {
    float: right;
}

.left {
    float: left;
}

.muted {
    color: color('grey', 500)
}

.breathing {
    margin: 0 8px;
}