@mixin e($name) {
    @at-root #{&}__#{$name} {
        @content
    }
}

@mixin m($name) {
    @at-root #{&}--#{$name} {
        @content
    }
}

@function sqrt($r) {
    $x0: 1;
    $x1: $x0;

    @for $i from 1 through 10 {
        $x1: $x0 - ($x0 * $x0 - abs($r)) / (2 * $x0);
        $x0: $x1;
    }

    @return $x1;
}

@function yiq($color, $light: rgba(255, 255, 255, 0.87), $dark: rgba(0, 0, 0, 0.87)) {
    $r: red($color) * 255;
    $g: green($color) * 255;
    $b: blue($color) * 255;

    $yiq: ($r * 299 + $g * 587 + $b * 114) / 1000;

    @return if($yiq >= 128, $dark, $light);
}
