$color-theme: "indigo";

/**
 * Global
 */
$background-color: whitesmoke;

$color: color("grey", 600);
$font-family: sans-serif;
$font-size: 16px;
$font-weight: 300;
$padding: 30px;

$bar-background-color: color($color-theme, 700);
$bar-border-color: color($color-theme, 300);

$card-background: white;
$input-height: 80px;

.text-theme {
    color: color($color-theme)
}

@each $color, $shades in $colors {
    @each $tint, $value in $shades {
        .text-#{$color}-#{$tint} {
            color: color($color, $tint);
        }

        .text-#{$color} {
            color: color($color);
        }

        .text-theme-#{$tint} {
            color: color($color-theme, $tint)
        }
    }

    button {
        &.button {
            @include m(#{$color}) {
                background-color: color($color, 800);

                &:focus,
                &:hover {
                    background-color: color($color, 600);
                }
            }

            @include m(theme) {
                background-color: color($color-theme, 800);

                &:focus,
                &:hover {
                    background-color: color($color-theme, 600);
                }
            }
        }
    }
}
