.notifications {
    position: absolute;
    left: 0;
    right: 0;
    will-change: transform;
    z-index: 99999;

    @include e(notification) {

        padding: 8px 30px;
        color: white;

        span {
            margin-right: 10px;
        }

        button.close {
            background-color: transparent;
            border: none;
            float: right;
            cursor: pointer;

            &:hover {
                span {
                    color: #333;
                }
            }

            span {
                margin: 0;
                color: rgb(230, 230, 230);
            }
        }

        @include m(success) {
            color: color("green", 50);
            background-color: color("green", 300);
        }

        @include m(info) {
            color: color("blue", 50);
            background-color: color("blue", 300);
        }

        @include m(error) {
            color: color("red", 50);
            background-color: color("red", 300);
        }

        @include m(warning) {
            color: color("orange", 50);
            background-color: color("orange", 300);
        }

    }

}
